#!/bin/sh

###############################################################################
# Phase: Init

IFACE_MAC_ADDR="22:bb:22:bb:22:bb"

IFACE_IP_ADDR="169.254.1.22"
IFACE_BRC_ADDR="169.254.1.255"

IFACE_VLAN_IP_ADDR="169.254.11.22"
IFACE_VLAN_BRC_ADDR="169.254.11.255"
IFACE_VLAN_ID="3"

TX_Q_COUNT=4
RX_Q_COUNT=4

IRQ_AFFINITY_FILE="irq_affinity_4c_4tx_4rx_2way.map"
