#!/bin/bash

###############################################################################
# Phase: Init

IFACE_MAC_ADDR="aa:00:aa:00:aa:00"

IFACE_IP_ADDR="169.254.1.11"
IFACE_BRC_ADDR="169.254.1.255"

IFACE_VLAN_IP_ADDR="169.254.11.11"
IFACE_VLAN_BRC_ADDR="169.254.11.255"
IFACE_VLAN_ID="3"

TX_Q_COUNT=4
RX_Q_COUNT=4

VLAN_PRIORITY_SUPPORT="YES"
VLAN_STRIP_SUPPORT="NO"
EEE_TURNOFF="NO"

# ADLN SKU6 - has 4 cores - comment out accordingly
IRQ_AFFINITY_FILE="irq_affinity_4c_4TxRx.map"
# ADLN SKU5 - has only 2 cores - comment out accordingly
#IRQ_AFFINITY_FILE="irq_affinity_2c_4TxRx.map"

###############################################################################
# Phase: Setup

PTP_IFACE_APPEND=".vlan"
PTP_PHY_HW="i225-1G"
PTP_TX_Q=0
PTP_RX_Q=0

###############################################################################
# Runtime

TARGET_IP_ADDR="169.254.1.11"
TEST_PERIOD=60
