#!/bin/sh

###############################################################################
# Phase: Init

IFACE_MAC_ADDR="aa:00:aa:00:aa:00"

IFACE_IP_ADDR="169.254.1.11"
IFACE_BRC_ADDR="169.254.1.255"

IFACE_VLAN_IP_ADDR="169.254.11.11"
IFACE_VLAN_BRC_ADDR="169.254.11.255"
IFACE_VLAN_ID="3"

TX_Q_COUNT=4
RX_Q_COUNT=4

VLAN_PRIORITY_SUPPORT="YES"
VLAN_STRIP_SUPPORT="NO"
EEE_TURNOFF="NO"

IRQ_AFFINITY_FILE="irq_affinity_4c_4TxRx.map"
TEMP_DIR="/tmp"

###############################################################################
# Phase: Setup

TAPRIO_MAP="3 1 0 2 3 3 3 3 3 3 3 3 3 3 3 3"
TAPRIO_SCHED=("sched-entry S 0F 500000")

TAPRIO_FLAGS="flags 0x2"

PTP_IFACE_APPEND=".vlan"
PTP_PHY_HW="i225-1G"
PTP_TX_Q=2
PTP_RX_Q=0

ETF_Q=2
ETF_DELTA=700000
#ETF_FLAGS="deadline_mode off skip_sock_check off"

IPERF_BITRATE=200M
CPU_AFFINITY=3
VLAN_PRIOR_PKT=0x6000
VLAN_PRIOR_AF_XDP=0x4000

###############################################################################
# Runtime

TARGET_IP_ADDR="169.254.1.22"

AFP_PACKET_TEST="y"
RUN_IPERF3_AFP="y"
RUN_IPERF3_XDP="y"

TX_PKT_Q=2
RX_PKT_Q=2

TX_XDP_Q=2
RX_XDP_Q=2

TXTIME_OFFSET=20000
NUMPKTS=500000
SIZE=64

INTERVAL=2000000
EARLY_OFFSET=700000

XDP_MODE="z -w" # AF-XDP native mode ( zero copy not available yet)
XDP_INTERVAL=200000
XDP_EARLY_OFFSET=100000
