#!/bin/bash

###############################################################################
# Phase: Init

IFACE_MAC_ADDR="aa:11:aa:11:aa:11"

IFACE_IP_ADDR="169.254.2.11"
IFACE_BRC_ADDR="169.254.2.255"

IFACE_VLAN_IP_ADDR="169.254.22.11"
IFACE_VLAN_BRC_ADDR="169.254.22.255"
IFACE_VLAN_ID="3"

TX_Q_COUNT=4
RX_Q_COUNT=4

IRQ_AFFINITY_FILE="irq_affinity_4c_4tx_4rx_2way.map"

