#!/bin/bash

###############################################################################
# Phase: Init

IFACE_MAC_ADDR="22:cc:22:cc:22:cc"

IFACE_IP_ADDR="169.254.2.22"
IFACE_BRC_ADDR="169.254.2.255"

IFACE_VLAN_IP_ADDR="169.254.22.22"
IFACE_VLAN_BRC_ADDR="169.254.22.255"
IFACE_VLAN_ID="3"

TX_Q_COUNT=4
RX_Q_COUNT=4

IRQ_AFFINITY_FILE="irq_affinity_4c_4tx_4rx_2way.map"

