#!/bin/bash

###############################################################################
# Phase: Init

IFACE_MAC_ADDR="aa:00:aa:00:aa:00"

IFACE_IP_ADDR="169.254.1.11"
IFACE_BRC_ADDR="169.254.1.255"

IFACE_VLAN_IP_ADDR="169.254.11.11"
IFACE_VLAN_BRC_ADDR="169.254.11.255"
IFACE_VLAN_ID="3"

TX_Q_COUNT=4
RX_Q_COUNT=4

VLAN_PRIORITY_SUPPORT="YES"
VLAN_STRIP_SUPPORT="YES"
EEE_TURNOFF="YES"

if [ $NUM_CORE == 2 ]; then
    # ADLN SKU5 - has only 2 cores
    IRQ_AFFINITY_FILE="irq_affinity_2c_4tx_4rx.map"
    PTP_CPU_AFFINITY=0
else
    IRQ_AFFINITY_FILE="irq_affinity_4c_4tx_4rx.map"
    PTP_CPU_AFFINITY=1
fi

###############################################################################
# Phase: Setup

PTP_IFACE_APPEND=".vlan"
# ADL-N has onboard TI-PHY.
PTP_PHY_HW="TI-1G"
#PTP_PHY_HW="SGMII-MV2110-1G"
PTP_TX_Q=0
PTP_RX_Q=0

###############################################################################
# Runtime

TARGET_IP_ADDR="169.254.1.11"
TEST_PERIOD=60
